#carousel {
  width: 100%;
  overflow: hidden;
}

.group {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.gallery-img {
  border-radius: 5px;
  flex: 0 0 auto;
  height: 12em;
  width: 10em;
  object-fit: cover;
}
#carousel:hover .group{
    animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
