<section class="shadow-2xl border border-gray-400 rounded-lg h-full p-3">
  <div class="flex">
    <img
      class="w-6 h-6"
      [src]="theme.isDark() ? 'images/Darkmode-Icons/project.svg' : '/images/project.svg'"
    />
    <p>Projects</p>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
    @for (items of projectItems; track items) {
      <div class="border border-gray-400 rounded-md p-2 mt-1">
        <div class="flex justify-between">
          <p class="font-bold">{{ items.name }}</p>
          <p [ngClass]="  
          items.completed ? 'bg-green-400 ':'bg-red-500'"
            class="text-xs rounded-md flex justify-center items-center px-2 text-white font-bold"
          >
          {{ items.completed ? 'Completed' : 'On Progress'}}
           
          </p>
        </div>
        <p class="pt-2">{{ items.description }}</p>
        <p class="bg-gray-300 w-fit px-3 py-1 rounded-lg text-sm">
          <a href="{{ items.url }}">{{ items.url }}</a>
        </p>
      </div>
    }
  </div>
</section>
