<section class="shadow-2xl border border-gray-400 rounded-lg p-3">
  <div class="flex">
    <img [src]="theme.isDark()? 'images/Darkmode-Icons/code.svg' : 'images/codelogo.svg' " />
    <p class="font-bold">Tech Stack</p>
  </div>
  <div class="font-bold">Front-End</div>
  <div class="flex flex-wrap gap-4">
    @for(item of techStackItems; track item.name){
        <div  [class]="
    theme.isDark()
      ? 'border-white border rounded-sm w-fit hover:translate-y-1 duration-300 ease-in-out px-3 py-1'
      : 'border border-black rounded-sm w-fit hover:translate-y-1 duration-300 ease-in-out px-3 py-1'
  ">{{ item.name }}
        </div>}
  </div>
  <div class="font-bold">Back-End</div>
  <div class="flex flex-wrap gap-4">
    @for(item of backendTechStackItems; track item.name){
        <div  [class]="
    theme.isDark()
      ? 'border-white border rounded-sm w-fit hover:translate-y-1 duration-300 ease-in-out px-3 py-1'
      : 'border border-black rounded-sm w-fit hover:translate-y-1 duration-300 ease-in-out px-3 py-1'
  ">{{ item.name }}
        </div>}
  </div>
  <div class="font-bold">Others</div>
  <div class="flex flex-wrap gap-4">
    @for(item of otherTechStackItems; track item.name){
        <div   [class]="
    theme.isDark()
      ? 'border-white border rounded-sm w-fit hover:translate-y-1 duration-300 ease-in-out px-3 py-1'
      : 'border border-black rounded-sm w-fit hover:translate-y-1 duration-300 ease-in-out px-3 py-1'
  ">{{ item.name }}
        </div>}
  </div>
</section>
